*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.headerbar{
  display: none;
}
.searchicon{
  display: block;
}

.logo img{
  width: 100px;
}
.bar{
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 7vw;
  background-color: grey;
  border-bottom: 2px solid rgb(165, 170, 185);
  box-shadow: 0 2px 20px rgb(152, 124, 253);
}
.header ul{
  display: flex;
  align-items: center;
}
.header ul li:hover{
  color: #FFFFFF;
  cursor: pointer;
}
.nav ul li{
  padding: 0 15px;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 15px 1px 13px -6px #FFFFFF;
  font-family:"Bebas Neue", serif;
}
.account{
  flex: 0.1
}
.account ul{
  display: flex;
  justify-content: end;
}
.account ul li{
  padding: 0 15px;
  font-size: 18px;
}
.bar i:hover{
  color: rgb(120, 64, 50);
}
.search{
  display: none;
  width: 200px; 
  justify-content: center;
}
.search input{
  width: 100%;
  outline: none;
  border: none;
  padding: 5px;
}
.srchicon{
  background-color: rgb(229, 153, 155);
  display: block;
  padding: 4px 5px;
  cursor: pointer;
}

.home{
  background-color: black;
  padding: 0 7vw;
}

.main_slide{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main_slide div:nth-child(2){
  flex: 0 0 auto;
  display:flex;
  justify-content: flex-end;
  padding-top: 40px;
}

.main_slide div:nth-child(1){
  padding-top: 20px;
  flex: 1;
  font-size: 30px;
  text-align: left;
}

.main_slide div:nth-child(1) p{
  font-size: 13px;
  padding: 20px 0;
  text-align: left;
}

.main_slide div:nth-child(1) span{
  color: rgb(143, 8, 253);
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: rgb(185, 161, 171);
  text-align: left;
}
.main_slide img{
  height: auto;
  width: 560px;
  margin-right: 10px 0;
  float: right;
}

.red_btn{
  cursor: pointer;
  margin-top: 20px;
  width: 160px;
  font-weight: bold;
  color: aliceblue;
  line-height: 50px;
  text-align: center;
  background-color: rgb(253,77,8);
  border-radius: 5px;
  border: 1px solid rgb(253,77,8);
  box-shadow: 0 10px 15px rgb(250,120,69);
  transition: all 0.2s;
}

.red_btn i{
  color: white;
  transition: all 0.2s;
}

.red_btn:hover{
  background-color: white;
  box-shadow: 0 2px 15px rgb(250, 120, 69);
  border:1px solid rgb(253,77,8);
  color: rgb(253,77,8);
}

.red_btn:hover i{
  color:rgb(253,77,8);
}

.food-items{
  margin: 70px 0;
  padding: 20px 0;
  background-color: #FFFFFF;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item{
width: 200px;
padding: 20px;
text-align: center;
}

.item div{
  height: 160px;
}
.item img{
  width: 160px;
  margin-bottom: 15px;
}
.item p{
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 20px; 
}
.white_btn{
  cursor: pointer;
  margin-top: 20px;
  width: 100px;
  font-weight: bold;
  color: rgb(253, 77, 80);
  line-height: 50px;
  border: 1px solid rgb(253, 77, 8);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 15px rgb(250, 120, 69);
  transition: all 0.2s;
}

.white_btn:hover{
  color: aliceblue;
  background-color: rgb(253,77,8);
  box-shadow: 0 10px 15px rgb(250,120,69);
}

.item .red_btn, .item .white_btn{
  width: 120px;
  line-height: 35px;
}

.main_slide2{
  margin: 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.foodimg{
  flex: 0.5;
}
.foodimg img{
  max-width: 500px;
  width: 45vw;
}
.question{
  flex: 0.5;
  flex-direction: column;
  margin-left: 20px;
}
.question h2{
  font-size: 30px;
  margin-bottom: 15px;
}
.q-ans{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;

}
.q-ans img{
  width: 45px;
}
.q-ans div:first-child{
  padding: 10px;
  border-radius: 50%;
  height: 65px;
  text-align: center;
  background-color: white;
  margin-right: 20px;
}

.q-ans div:nth-child(2){
  display: flex;
  flex-direction: column;
}
.q-ans div:nth-child(2) p{
  margin-top: 10px;
  font-size: 13px;
}

.main_slide3{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
}

.main_slide3 .fav-head{
  text-align: center;
  width: 450px;
  margin-bottom: 30px;
}

.main_slide3 .fav-head h3{
  font-size: 30px;
  padding: 20px 0;
}

.main_slide3 .fav-head p{
  font-size: 13px;
  text-align: center;
}

.main_slide3 .fav-food{
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
}

.main_slide3 .fav-head .item{
  background-color: white;
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 2px 10px rgba(119,119,119,0.438);
  width: 220px;
  padding: 15px;
  padding-top: 20px;
  text-align: center;
  cursor: pointer;
}

.main_slide3 .fav-food .item div{
  height: 160px;
  margin-bottom: 15px;
}

.main_slide3 .fav-food .item img{
  width: 160px;
  margin-bottom: 15px;
}

.main_slide3 .fav-price{
  color: rgb(114, 0, 0);
  font-weight: bold;
  font-size: 15px;
}
 
.main_slide3 .dsgn{
  background-color: grey;
  height: 50%;
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: 0;
  border-radius: 10px;
}

.letter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}

.letter-head {
  flex: 0.5;
}

.letter-head h2 {
  font-size: 30px;
}

.letter-head span {
  color: red;
}

.letter-input {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex: 0.5;
}

.letter-input div{
  width: 70%;
  display: flex;
  align-items: center;
  background-color: white;
}

.letter-input input {
  font-size: 15px;
  padding: 10px;
  outline: none;
  width: 100%;
  border: none;
  background-color: white;
}

.letter-input .red_btn {
  margin: 0;
  font-size: 18px;
  box-shadow: none;
  border-radius: 0 10px 10px 0;
}
.footer{
  padding: 60px 0;
  border-top: 2px solid rgb(252,184,107);
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.footer-1 p {
  width: 200px;
}
.footer-1 .logo img{
  cursor: pointer;
  font-size: 14px;
  padding: 2px;
  color: rgb(255,137,2);
}

.footer-2 {
  text-align: center;
  cursor: pointer;
}
.footer-2 h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-2 img{
  width: 200px;
  margin-bottom: 15px;
}


@media only screen and (max-width: 768px){
  .header .nav,.header .account{
    display: none;
  }
  .search{
    width: 60vw;
  }
  .bar{
    display: block;
    cursor: pointer;
  }
  .headerbar{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    bottom: 0;
    right: -100%;
    transition: all 0.5s;
    background-color: rgb(216, 217, 252);
  }
  .headerbar .account, .headerbar .nav{
    display: block;
    font-size: 18px;
  }
  .bar .fa-xmark{
  display: none;
  top: 20px;
  right: 5w;
  position: absolute;
  font-size: 25px;
  }
  .headerbar .nav ul{
  flex-direction: column;
  margin-top: 10px;
  text-align: center;
  }
  .headerbar .nav .li{
  width: 96vw;
  margin: 10px 0;
  padding: 15px 30px;
  box-shadow: 0 2px 15px rgb(252, 193, 169);
  font-size: 15px;
  margin-top: 5px;
  }
  .headerbar .account{
  line-height: 40px;
  margin-top: 60px;
  background-color: rgb(252,210,182);
  padding: 15px;
  }
  .headerbar .account ul{
  justify-content: space-between;
  }
  .foodimg{
  flex: 1;
  text-align: center;
  margin-bottom: 20px;
  }
  .foodimg img{
  width:70vw;
  }
  .question{
  flex: 1;
  margin-top: 30px;
  }
  .question h2{
  font-size: 25px;
  }
  .q-ans div:nth-child(2) p{
    font-size: 11px;
  }
  .main_slide3 {
   margin-top: 100px;
  }
  .main_slide3 .dsgn{
   height: 60%;
  }
  .main_slide3 .fav-head{
   width: 80%;
   margin-bottom: 20px;
  }

  .letter-head h2{
    font-size: 20px;
  }
  .letter-input input{
    font-size: 12px;
    padding: 15px;
    width: 50vw;
  }
  .letter-input .red_btn{
    line-height: 40px;
    width: 120px;
    font-size: 12px;
  }
  .footer .footer-1 div{
    margin: 0;
  }
  .footer div{
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 550px){
  .main_slide div:nth-child(1){
    font-size: 18px;
  }

  .main_slide div:nth-child(1) p{
    padding-top: 5px;
    margin: 10px 0;
    font-size: 11px;
  }

  .red_btn{
    margin-top: 10px;
    width: 120px;
    line-height: 30px;
    font-size: 12px;
    padding: 0 10px;
  }

  .main_slide div:nth-child(1) span{
    text-underline-offset: 5px;
  }

  .main_slide div:nth-child(2) img{
    width: 70vw;
  }
  .food-items{
    padding: 10px 0;
  }
  .item{
    width: 60%;
    padding: 30px 5px;
  }
  .item h3{
    font-size: 20px;
    margin-bottom: 5px;
  }
  .main_slide3 .fav-head{
   width: 100%;
  }
  .main_slide3 .fav-head h3{
   font-size: 25px;
  }
  .main_slide3 .fav-head p{
   font-size: 11px;
  }
  .main_slide3 .dsgn{
  display: none;
  }

  .letter{
      justify-content: center;
  }
  .letter-head{
      flex: 1;
      text-align: center;
  }
  .footer div:last-child {
    margin-bottom: 0;
  }
  .footer{
    padding-bottom: 25px;
  }
  .footer-2 h2{
    font-size: 20px;
  }
}

form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="password"],
form input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form input[type="submit"] {
  background: #ff6347;
  color: #fff;
  border: none;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background: #e5533d;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.order-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.order-item h3 {
  margin: 0;
  color: #333;
}

.order-item p {
  margin: 5px 0;
  color: #666;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}